PORTAL_USERNAME=your_portal_id
PORTAL_PASSWORD=your_portal_password
START_YYYYMMDD=20260302
END_YYYYMMDD=20260630
GOOGLE_CLIENT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY\n-----END PRIVATE KEY-----\n"
GOOGLE_CALENDAR_ID=your_calendar_id@group.calendar.google.com

# 0: run once and exit
# 24: run every 24 hours
SYNC_INTERVAL_HOURS=0
